<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <a class="btn btn-primary" href="/">Crear</a>
      <hr />
      <div class="table-resposive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Fecha</th>
              <th>Area</th>
              <th>Descripcion</th>
              <th>Estado</th>
              <th>Cerrar</th>
              <th>Devolución</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in tickets %}
            <tr>
              <td>{{ ticket.id }}</td>
              <td>{{ ticket.fecha }}</td>
              <td>{{ ticket.area }}</td>
              <td>{{ ticket.descripcion }}</td>
              <td>{{ ticket.estado }}</td>
              <td>
                <form action="/admin/tickets/{{ticket.id}}/close" method="post">
                  <button type="submit">Cerrar</button>
                </form>
              </td>
              <td>{{ ticket.devolucion }}</td>
              <td>
                <a href="/admin/tickets/{{ticket.id}}#formulario">Detalle</a>
              </td>
            </tr>
            {% if ticket.id == ticket_encontrado.id %}
            <tr id="formulario" class="bg-light text-dark">
              <td colspan="8" style="text-align:center">
                <form action="/admin/tickets/{{ticket.id}}" method="post">
                  <select name="estado">
                    <option value="EN ESPERA" {% if ticket.estado == "EN ESPERA" %} selected {% endif %}>EN ESPERA</option>
                    <option value="EN PROGRESO" {% if ticket.estado == "EN PROGRESO" %} selected {% endif %}>EN PROGRESO</option>
                    <option value="FINALIZADO" {% if ticket.estado == "FINALIZADO" %} selected {% endif %}>FINALIZADO</option>
                  </select>
                  <br>
                  <textarea name="devolucion" cols="30" rows="10">{{ ticket.devolucion }}</textarea>
                  <br>
                  <button>GUARDAR</button>
                </form>
              </td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
